@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace !important;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 400px) {
    .custom::placeholder{
      padding-right: 10px;
    }
}
